.container-comparison{
    padding: 20px;
}

#comparison {
}

/*#comparison .col-sm-6 {*/
    /*border: 1px solid #c9c9c9;*/
/*}*/

/*#comparsion .col-sm-6:not(:last-child) {*/
    /*border-right-width: 0;*/
/*}*/

.border-middle{
    border-right: 1px solid lightgray;
}

.directions-button{
    background-color: whitesmoke;
    color: black
}

.inp-group{
    margin-bottom: 50px;
}

.icon-tooltip{
    margin: 3px;
}
/*#example .row:not(:last-child) .col {*/
    /*border-bottom-width: 0;*/
/*}*/